.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../../assets/phone2.webp) center/cover no-repeat;
}
.hero-title {
  text-align: center;
  font-size: 2.5rem;
}

@media (min-width: 1024px) {
  .hero-image {
    font-size: 2.5rem;
  }
}

.show-now-btn {
  text-align: center;
  margin-top: -30px;
}

.but {
  text-decoration: none;
}
